{
    "tabWidth": 4,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^../(.*)",
        "^./(.*)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
